<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link href="__STATIC__/index/css/main.css" rel="stylesheet">


<!--环境缩略图轮播-->
<script type="text/javascript" src="__STATIC__/index/js/jquery-1.8.2.min.js"></script>


<!--banner轮播-->
<script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/Tony_Tab.js"></script>


<!--环境缩略图轮播-->
<script type="text/javascript" src="__STATIC__/index/js/jquery.flexslider.js"></script>

<!--特色项目-->
<link rel="icon" type="image/png" href="__STATIC__/index/images/sitelogo.png" />
<!-- get jQuery from the google apis --> 
<script type="text/javascript" src="__STATIC__/index/js/jquery.js"></script>
<!-- CSS STYLE -->
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css" media="screen" />
<!-- ANIMATE AND EASING LIBRARIES -->
<script type="text/javascript" src="__STATIC__/index/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.cssAnimate.mini.js"></script>
<!-- TOUCH AND MOUSE WHEEL SETTINGS -->
<script type="text/javascript" src="__STATIC__/index/js/jquery.touchwipe.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/jquery.mousewheel.min.js"></script>
<!-- jQuery SERVICES Slider  -->
<script type="text/javascript" src="__STATIC__/index/js/jquery.themepunch.services.min.js"></script>
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/settings.css" media="screen" />
<link href='__STATIC__/index/css/css.css' rel='stylesheet' type='text/css'>
<!--环境动图-->

<link type="text/css" rel="stylesheet" href="__STATIC__/index/css/flexslider.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />


<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/kefu.css">
<title>安徽爱心体检健康管理有限公司</title>
</head>

<body>
<div class="hushi"><a href="#"><img src="__STATIC__/index/images/hushi.png" /></a></div>
<!--在线客服  -->
<div class="scrollsidebar" id="scrollsidebar">
  <div class="side_content">
    <div class="side_list">
      <div class="side_title"><a title="隐藏" class="close_btn"><span>关闭</span></a></div>
      <div class="side_center">
        <div class="custom_service">
          <p> <a title="点击这里给我发消息" href="###" target="_blank"><img src="http://wpa.qq.com/pa?p=2:8983659:41"></a> </p>
        </div>
        <div class="other">
          <p><img src="__STATIC__/index/images/qrcode.png" width="120"/></p>
          <p>客户服务热线</p>
          <p>0552-3757555</p>
        </div>
        <div class="msgserver">
          <p><a href="###" >联系我们</a></p>
        </div>
      </div>
      <div class="side_bottom"></div>
    </div>
  </div>
  <div class="show_btn"><span>在线客服</span></div>
</div>

<script type="text/javascript" src="__STATIC__/index/js/kefu.js"></script>




<!--特色项目轮播js-->
<script type="text/javascript">

$(function() {
	$.noConflict();

	jQuery('#services-example-1').services(
		{
			width:920,
			height:160,
			slideAmount:5,
			slideSpacing:30,
			touchenabled:"on",
			mouseWheel:"on",
			hoverAlpha:"off",
			slideshow:4000,
			hovereffect:"on",
			callBack:function() { }

		});

	jQuery('#services-example-2').services(
		{
			width:920,
			height:280,
			slideAmount:5,
			slideSpacing:30,
			touchenabled:"on",
			mouseWheel:"on",
			hoverAlpha:"off",
			slideshow:3000,
			hovereffect:"on",
			callBack:function() { }

		});
		
		jQuery('#services-example-3').services(
		{
			width:920,
			height:160,
			slideAmount:5,
			slideSpacing:30,
			touchenabled:"on",
			mouseWheel:"on",
			hoverAlpha:"off",
			slideshow:3000,
			hovereffect:"on",
			callBack:function() { }

		});
		
		
		
		
});
</script>



<!--导航-->
<div class="header">
	<div class="logo"><a href="index.html"><img src="__STATIC__/index/images/2_06.gif" /></a></div>
	<div class="nav">
    	<ul>
        	<a href="http://localhost/body_check/public/index/index/index"><li>网站首页</li></a>
            <a href="http://localhost/body_check/public/index/love/index"><li>走进爱心</li></a>
            <a href="http://localhost/body_check/public/index/equipment/index"><li>环境设备</li></a>
            <a href="http://localhost/body_check/public/index/news/index"><li class="current">动态资讯</li></a>
            <a href="http://localhost/body_check/public/index/expert/index"><li>专家团队</li></a>
            <a href="http://localhost/body_check/public/index/shopping/index"><li>体检商城</li></a>
            <a href="http://localhost/body_check/public/index/recruit/index"><li>人才招聘</li></a>
            <a href="http://localhost/body_check/public/index/activity/index"><li>活动专区</li></a>
        </ul>
        <div class="clear"></div>
    </div>
</div>




<!--banner轮播-->
<div style="width:1920px; margin:0px auto;">
	<div id="focus" class="focus">
		<ul>
			<li><a href="JavaScript:;"><a href="http://localhost/body_check/public/index/activity/index"><img src="__STATIC__/index/images/img/02.jpg"/></a></a></li>
			<li><a href="JavaScript:;"><a href="http://localhost/body_check/public/index/activity/index"><img src="__STATIC__/index/images/img/03.jpg"/></a></a></li>
            <li><a href="JavaScript:;"><a href="http://localhost/body_check/public/index/activity/index"><img src="__STATIC__/index/images/img/03.jpg"/></a></a></li>
		</ul>
	</div> 
</div>


<script type="text/javascript">
$(function() {
	$('#focus').slideFocus();
	$('#focus2').slideFocus();
	$('#focus3').slideFocus();
});
</script>


<div class="tijian">
	<div class="content">
		<div class="yuyue">
        	<img src="__STATIC__/index/images/yuyue.jpg" />
        	<div class="right">
            	<span>体检预约</span>
                <p>星级健康服务等您来体验</p>
            </div>
        </div>
    	<div class="chaxun">
        	<img src="__STATIC__/index/images/chaxun.jpg" />
        	<div class="right">
            	<span>报告查询</span>
                <p>关注健康数据，积极健康管理</p>
            </div>
        </div><div class="clear"></div>
	</div>
</div>



<div id="content">
	<div class="xiangmu">
    	<div class="top">
        <span>特色项目</span>
        <a href="shopping.html"><p>更多&nbsp;></p></a>
        </div>

	<br style="clear:left;"/>
<div class="example-wrapper">
	<div id="services-example-1" class="theme1">
		<ul>
			{volist name="shoppings" id="vo"}
				<li> <img class="thumb" src="__STATIC__/index/images/services/{$vo.image}" data-bw="images/services/service5.jpg">
					<div style="margin-top:16px"></div>
					<h2>{$vo.slogan}</h2>
				</li>
			{/volist}
		</ul>
		<div class="toolbar">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div><div class="clear"></div>
</div>
	</div>    



<div class="xiangmu">
    	<div class="top">
        <span>专家团队</span>
        <a href="team.html"><p>更多&nbsp;></p></a>
        </div>

	<br style="clear:left;"/>
<div class="example-wrapper">
	<div id="services-example-2" class="theme1">
		<ul>
			{volist name="experts" id="ex"}
				<li> <img class="thumb" src="__STATIC__/index/images/services/{$ex.image}" data-bw="images/services/service3.jpg">
					<div style="margin-top:16px"></div>
					<h2>{$ex.name}</h2>
					<p>{$ex.info}<br>
					</p>
					<a class="buttonlight morebutton" href="team-details.html">查看更多</a> 
				</li>	
			{/volist}			
		</ul>
		<div class="toolbar">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>
</div><div class="clear"></div>
	</div>   




<div class="huanjing">
    	<div class="top">
        <span>环境设备</span>
        <a href="equipment.html"><p>更多&nbsp;></p></a>
        </div>
<!--环境轮播开始 -->       
<div class="flexslider" style="width:980px;margin:0 auto;">
	<ul class="slides">
		{volist name="equipments" id="eq"}
			<li data-thumb="__STATIC__/index/img/slider/{$eq.image}">
				<img src="__STATIC__/index/img/slider/{$eq.image}">
				<p class="flex-caption">{$eq.name}</p>
			</li>
		{/volist}
	</ul>
</div>


<script type="text/javascript">
$(window).load(function(){

    $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
    });
	
});
</script>
</div>









<div class="xiangmu">
    	<div class="top">
        <span>活动专区</span>
        <a href="activity.html"><p>更多&nbsp;></p></a>
        </div>

<br style="clear:left;"/>
<div class="example-wrapper">
	<div id="services-example-3" class="theme1">
		<ul>
			{volist name="activities" id="act"}
				<li> 
					<img class="thumb" src="__STATIC__/index/images/services/{$act.image}" data-bw="__STATIC__/index/images/services/{$act.image}">
					<div style="margin-top:16px"></div>
					<h2>{$act.title}</h2>
				</li>		
			{/volist}
		</ul>
		<div class="toolbar">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div><div class="clear"></div>
</div>
	</div>    


	<div class="wailian">
		<a href="#"><img class="left" src="__STATIC__/index/images/1haodian.png" /></a>
        <a href="#"><img class="left" src="__STATIC__/index/images/cat.png" /></a>
        <a href="#"><img class="left" src="__STATIC__/index/images/meituan.png" /></a>
        <a href="#"><img class="right" src="__STATIC__/index/images/app.png" /></a>
	</div>

</div>

{include file="public/footer"}