<div class="foot">
    	<div class="nav01">
        	<ul>
            	<a href="index.html"><li>网站首页</li></a>
                <a href="love.html"><li>走进爱心</li></a>
                <a href="equipment.html"><li>环境设备</li></a>
                <a href="news.html"><li>动态资讯</li></a>
                <a href="team.html"><li>专家团队</li></a>
                <a href="shopping.html"><li>体检商城</li></a>
                <a href="recruit.html"><li>人才招聘</li></a>
                <a href="activity.html"><li>活动专区</li></a>
            </ul>
        </div>
        <div class="nav02">
        	<h1>地址：安徽省蚌埠市东海大东5156号</h1>
        	<p>健康热线：<span>0552-3757555</span>&nbsp;安徽爱心健康管理有限公司&nbsp;版权所属&nbsp;皖ICP备17010776</p>
    	</div>
    </div>






    




</body>
</html>
