<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script type="text/javascript" src="__STATIC__/index/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/js/index.js"></script>
<link href="__STATIC__/index/css/main.css" rel="stylesheet">
<link href="__STATIC__/index/css/about.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<block name="title"><title>{$title}</title></block>
</head>

<body>

<!--导航-->
<div class="header">
	<div class="logo"><a href="index.html"><img src="__STATIC__/index/images/2_06.gif" /></a></div>
	<div class="nav">
    	<ul>
        	<a href="http://localhost/body_check/public/index/index/index"><li>网站首页</li></a>
            <a href="http://localhost/body_check/public/index/love/index"><li>走进爱心</li></a>
            <a href="http://localhost/body_check/public/index/equipment/index"><li>环境设备</li></a>
            <a href="http://localhost/body_check/public/index/news/index"><li class="current">动态资讯</li></a>
            <a href="http://localhost/body_check/public/index/expert/index"><li>专家团队</li></a>
            <a href="http://localhost/body_check/public/index/shopping/index"><li>体检商城</li></a>
            <a href="http://localhost/body_check/public/index/recruit/index"><li>人才招聘</li></a>
            <a href="http://localhost/body_check/public/index/activity/index"><li>活动专区</li></a>
        </ul>
        <div class="clear"></div>
    </div>
    
</div>

<img src="__STATIC__/index/images/banner.jpg" />