<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery.Yl.Slide.min.js"></script>
<link href="css/main.css" rel="stylesheet">
<link href="css/about.css" rel="stylesheet">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>走进爱心</title>
</head>

<body>

<!--导航-->
<div class="header">
	<div class="logo"><a href="index.html"><img src="images/2_06.gif" /></a></div>
	<div class="nav">
    	<ul>
        	<a href="index.html"><li>网站首页</li></a>
            <a href="love.html"><li class="current">走进爱心</li></a>
            <a href="equipment.html"><li>环境设备</li></a>
            <a href="news.html"><li>动态资讯</li></a>
            <a href="team.html"><li>专家团队</li></a>
            <a href="shopping.html"><li>体检商城</li></a>
            <a href="recruit.html"><li>人才招聘</li></a>
            <a href="activity.html"><li>活动专区</li></a>
        </ul>
        <div class="clear"></div>
    </div>
    
</div>





		<script type="text/javascript">
			$(document).ready(function() {

				
				$('.Yl-container').YlSlide({
					wrapper:'.Yl-wrapper',
					slideClass:'.Yl-slide',
					stylePrefix:'.Yl-',
					slideLength:3,
					pages:true,
					pagination:'.Yl-pagination',
					pagingSelect:'.Yl-pagination-bullet-active',
					autoplay:5000,				
					imgTemplate:{
						0:['<div class="Yl-img0"></div>'],
						1:['<div class="Yl-img1"></div>'],
						2:['<div class="Yl-img2"></div>']
					},
					fontTemplate:{
					0:['<div class="Yl-font0">FOR YOUR HEALTH</div>','<div class="Yl-font1">我们最大的本钱就是：健康</div>','<div class="Yl-font2">只为您的健康</div>'],
					1:['<div class="Yl-font0">FOR YOUR HEALTH</div>','<div class="Yl-font1">专注于健康体检，行业的佼佼者</div>','<div class="Yl-font2">只为您的健康</div>'],
					2:['<div class="Yl-font0">FOR YOUR HEALTH</div>','<div class="Yl-font1">请不要透支您的健康</div>','<div class="Yl-font2">只为您的将康</div>']
					},
					fontAnimationMode:{
						0:['fadeInUp','fadeInUp','slideInLeft'],
						1:['fadeInUp','fadeInUp','slideInLeft'],
						2:['fadeInUp','fadeInUp','slideInLeft']
					},
					customTemplate:{
						0:['<div class="Yl-Button"><a href="javascript:void(0);">走进爱心</a></div>'],
						1:['<div class="Yl-Button"><a href="javascript:void(0);">走进爱心</a></div>'],
						2:['<div class="Yl-Button"><a href="javascript:void(0);">走进爱心</a></div>']
					},
					callback:function(e){
						//整个dom加载完成后的回调函数、切换动画前的回调						
					},
					before: function(e) {
						//页面切换前的回调函数
					}, 
					after: function(e) {						
						//页面切换完成后的回调函数
						
					}
				});				
			
	
			});
			
		</script>


		<div class="Yl-container">		
			
		</div>	


	<div class="love">
    <p>安徽爱心健康体检中心位于安徽省蚌埠市张公山公园南门对面，东海大道5156号，总面积为3600平方米，坐落在东临张公湖，南设风景区，西为天下墅，北靠张公山公园，属二层独立式院区，环境优美，景色宜人。<br />
爱心健康体检中心具有：一流的环境:环境是体检中心的门面，环境优劣直接影响体检人群，人性化、流程化的整体布局，保证受检者在体检楼层内不走回头路。每一个体检诊室空间宽敞，通风优良，采光清澈，简约舒适，在温馨的环境中快乐享受男宾部、女宾部、贵宾部和特殊项目检诊区的体检服务。<br />
一流的设备:安徽爱心健康体检中心拥有安徽省第一台HRA（健康风险</p>
    <img src="images/services/large2.jpg" />
    
    <div class="clear"></div>
    <span>评估系统）；安徽省第一台ADDS（老年痴呆检测仪）；高端CT机、DR胸透（摄片）机、多台彩色超声诊断仪、高端专家型体成分分析仪、乳腺血氧检测、亚健康扫描仪、骨密度检查仪、血管硬度检测仪、经颅多普勒、眼底照相、C14呼气检测、化学发光分析仪、日本东芝全自动生化分析仪等先进设备。<br />
一流的技术:向军人学习，向军队医院看齐，体检中心在招聘军队某三甲医院体检中心大部分技术力量和人员配备的基础上，又聘请蚌医一附院、市属人民医院的主任医师、副主任医师组成的专家团队，既有老年丰富的管理和实践经验，又有中年真才实学的干劲，更有青年团结向上、勇往直前的创新发展理念，这样的体检中心不仅具有贯性运行的连续性，更是具备了一流技术的老、中、青结合的健康体检管理团队。<br />
一流的网站信息平台:体检中心将对体检人员体检结果上网，三到七个工作日后，体检人员打开自己的手机或电脑，输入自己的体检密码号（仅个人掌握），在手机或家里电脑里就可以查询到自己的体检结果，一流的网站服务，打造一个立体化、主动化、智能化、贴身化的一体化信息服务体检流程平台，包括：健康管理系统、体检预约系统、体检排队叫号系统、健康体检系统等。<br />
体检中心设置科室：内科、外科、耳鼻喉科、眼科、中医科、口腔科、妇科、检验科；检查诊室有CT室、DR一室、DR二室；彩超一室、彩超二室、彩超三室、彩超四室；心电图一室、心电图二室、心电图三室、心电图四室；HRA检查室、老年痴呆检测室、动脉硬化检测室、超声多普勒室、超声骨密度检测室、人体成分分析室、C14检测室等41个科（诊）室。体检中心环境优雅，在具备一流的环境、一流的设备、一流的技术、一流的网站和信息化服务平台的同时，还具有：一流的健康管理团队、一流的优质服务队伍、一流的健康管理金标准。爱心体检，市场运营通畅，体检实行一站式、一体化全程导检服务，体检结束后提供免费营养早餐，爱心体检已成为皖北地区一流的体检中心。<br />
健康热线：0552-3757555<br />
QQ:507322978<br />
邮箱：anhuiaixin@qq.com<br />
地址：安徽省蚌埠市东海大道5156号爱心体检（张公山公园南门对面）</span>
    
    
    </div>






	<div class="foot">
    	<div class="nav01">
        	<ul>
            	<a href="index.html"><li>网站首页</li></a>
                <a href="love.html"><li>走进爱心</li></a>
                <a href="equipment.html"><li>环境设备</li></a>
                <a href="news.html"><li>动态资讯</li></a>
                <a href="team.html"><li>专家团队</li></a>
                <a href="shopping.html"><li>体检商城</li></a>
                <a href="recruit.html"><li>人才招聘</li></a>
                <a href="activity.html"><li>活动专区</li></a>
            </ul>
        </div>
        <div class="nav02">
        	<h1>地址：安徽省蚌埠市东海大东5156号</h1>
        	<p>健康热线：<span>0552-3757555</span>&nbsp;安徽爱心健康管理有限公司&nbsp;版权所属&nbsp;皖ICP备17010776</p>
    	</div>
    </div>






    




</body>
</html>
